<div class="container">
    <div class="row">
        <div class="col-lg-8 col-lg-offset-2 col-md-10 col-md-offset-1">


			<div ng-show="posts === false">
			    Loading...
			</div>

			<div ng-show="posts.length === 0">
			    Sorry no posts for you today.
			</div>

			<div class="post-preview" ng-repeat="post in posts">
			    <a ui-sref="post({ id: post.id, slug: post.slug })">
			        <h2 class="post-title">{{::post.title}}</h2>
			    </a>
			    <p class="post-meta">Posted by {{::post.author}} about <span class="datetime">{{::post.created_at | relativeDate}}</span></p>
			    <p class="post-excerpt">{{post.excerpt}}&hellip;</p>
			</div>

			<!--hr -->

		</div>
	</div>
</div>